{% extends 'layout.html.twig' %}

{% block title %}Ajout d'un projet{% endblock %}

{% block content %}
  <main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-laptop"></i>&nbsp;Ajout d'un projet</h1>
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
          <a href="#"><i class="fa fa-home fa-lg"></i></a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Projets</a>
        </li>
        <li class="breadcrumb-item">Ajout d'un projet</li>
      </ul>
    </div>
    <div class="tile">
      <div class="form-horizontal">
        <section>
          <h3>Formulaire d'ajout</h3>
          <div class="row mt-4">
            <div class="col-md-8">
              {{ form_start(form) }}
              <div class="form-group row">
                {{ form_errors(form.title) }}
                <label class="control-label col-md-3">
                  {{ form_label(form.title) }}
                </label>
                <div class="col-md-9">
                  {{ form_widget(form.title, {'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
              <div class="form-group row">
                {{ form_errors(form.description) }}
                <label class="control-label col-md-3">
                  {{ form_label(form.description) }}
                </label>
                <div class="col-md-9">
                  {{ form_widget(form.description, {'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
              <div class="form-group row">
                {{ form_errors(form.type) }}
                <label class="control-label col-md-3">
                  {{ form_label(form.type) }}
                </label>
                <div class="col-md-9">
                  {{ form_widget(form.type, {'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
              <div class="form-group row">
                {{ form_errors(form.isDelivered) }}
                <label class="control-label col-md-3">
                  {{ form_label(form.isDelivered) }}
                </label>
                <div class="col-md-9">
                  {{ form_widget(form.isDelivered, {'attr': {'class': 'form-control'} }) }}
                </div>
              </div>
            </div>
          </div>
        </section>
        <hr/>
        <div class="row">
          <div class="col-md-6">
            <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i>Ajouter</button>
          </div>
        </div>

        {{ form_end(form) }}

      </div>
    </div>
  </main>
{% endblock %}