{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <!-- Navbar -->
  <header class="app-header"><a class="app-header__logo" href="{{ path('home') }}">Procom</a>
    <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
    <!-- Navbar Right Menu-->
    <ul class="app-nav">
      <li class="app-search">
        <form action="{{ path('search') }}" type="get">
          <input class="app-search__input" type="search" name="search" placeholder="Recherche">
          <button type="submit" class="app-search__button"><i class="fa fa-search"></i></button>
        </form>
      </li>
    </ul>
  </header>
  <!-- Sidebar menu-->
  <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar">
    <div class="app-sidebar__user">
      <img class="app-sidebar__user-avatar" src="{{ asset('img/user.jpg') }}" alt="User Image">
      <div>
        <p class="app-sidebar__user-name">John Doe</p>
        <p class="app-sidebar__user-designation">Directeur</p>
      </div>
    </div>
    <ul class="app-menu">
      <li>
        <a class="app-menu__item {% if app.request.get('_route') == "home" %}active{% endif %}" href="{{ path('home') }}">
          <i class="app-menu__icon fa fa-dashboard"></i>
          <span class="app-menu__label">Tableau de bord</span>
        </a>
      </li>
      <li>
        <a class="app-menu__item {% if app.request.get('_route') == "projectsList" or app.request.get('_route') == "addProject" or app.request.get('_route') == "editProject" %}active{% endif %}" href="{{ path('projectsList') }}">
          <i class="app-menu__icon fa fa-laptop"></i>
          <span class="app-menu__label">Projets</span>
        </a>
      </li>
      <li>
        <a class="app-menu__item {% if app.request.get('_route') == "employeesList" or app.request.get('_route') == "addEmployee" or app.request.get('_route') == "editEmployee" or app.request.get('_route') == "viewEmployee" %}active{% endif %}" href="{{ path('employeesList') }}">
          <i class="app-menu__icon fa fa-users"></i>
          <span class="app-menu__label">Employés</span>
        </a>
      </li>
      <li>
        <a class="app-menu__item {% if app.request.get('_route') == "jobsList" or app.request.get('_route') == "addJob" or app.request.get('_route') == "editJob"  %}active{% endif %}" href="{{ path('jobsList') }}">
          <i class="app-menu__icon fa fa-book"></i>
          <span class="app-menu__label">Métiers </span>
        </a>
      </li>
    </ul>
  </aside>

  {% block content %}

  {% endblock %}
    {##}

  <footer class="main-footer">
    &copy; 2019 - PROCOM
  </footer>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% endblock %}